.UserDetails{
    width: 50%;
}

.User{
    background: lightgreen;
    margin: 5px;
    padding: 10px;
}

.User h2,h3{
    margin: 5px;
}

button{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}